html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    user-select: none;
    background-color: #ccc;
}
.main {
    width: 120rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.heading {
    text-align: center;
    font-size: 5rem;
}
.interface {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.grid {
    display: flex;
    justify-content: center;
}
.square {
    display: flex;
    margin: 0.1rem;
    height: 4rem;
    width: 4rem;
    background-color: rgb(255, 255, 255);
    transition-property: opacity;
    cursor: pointer;
}
.square:hover {
    opacity: 0.7;
}